{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>This is Index Page for Models Demo's</h1>

    <div>
            {% for employee in employees %}
                <li>
                    <div>
                        <a href="{% url 'department_details' pk=employee.department.pk slug=employee.department.slug_field %}">{{employee.department.role }}</a>
                        Info: {{ employee.first_name }} {{ employee.last_name }} is {{ employee.age }} years old
                    </div>
                    <div>
                        Department name: {{ employee.department.role }}
                    </div>
                    <div>
                        Years of experience: {{ employee.years_of_experience }}
                    </div>
                </li>
            {% endfor %}
        </div>

        <h1>With Filter Below:</h1>
        <br>
        <div>
            {% for employee in employees2 %}
                <li>
                    <div>
                        <a href="{% url 'department_details' pk=employee.department.pk slug=employee.department.slug_field %}">{{employee.department.role }}</a>
                        Info: {{ employee.full_name }} is {{ employee.age }} years old
                    </div>
                    <div>
                        Department name: {{ employee.department.role }}
                    </div>
                    <div>
                        Years of experience: {{ employee.years_of_experience }}
                    </div>
                </li>
            {% endfor %}
        </div>

    <h1>Filter __name='Engineering':</h1>
        <br>
        <div>
            {% for employee in employees2 %}
                <li>
                    <div>
                        <a href="{% url 'department_details' pk=employee.department.pk slug=employee.department.slug_field %}">{{employee.department.role }}</a>
                        Info: {{ employee.full_name }} is {{ employee.age }} years old
                    </div>
                    <div>
                        Department name: {{ employee.department.role }}
                    </div>
                    <div>
                        Years of experience: {{ employee.years_of_experience }}
                    </div>
                <a href="{% url 'delete_employee' pk=employee.pk %}">Delete</a>
                </li>
            {% endfor %}
        </div>
{% endblock %}