* {
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 5px;
}

body {
    background-image: url("media/abstract_bg.jpg");
}

h1{
    margin-bottom: 50px;
    border-bottom: 1px solid #858585;
}

form {
    display: grid;
}


#id_gender {
    margin-left: 5px;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 10px;
    z-index: 1;
}

.btn-forms{
    margin-top: 10px;
    text-decoration: none;
    color: black;
    background-color: #afafaf;
    padding: 10px 10px;
    border-radius: 15px;
}

.navbar {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: flex-start;
    gap: 40px;
}

.btn-forms:hover {
    color: #dadada;
    background-color: #000000;
}

.col-name {
    font-size: 19px;
    color: #18183d;
}

.container {
    width: 500px;
    margin-left: 0;
    margin-bottom: 20px;
}

input {
    padding: 8px 12px;
    margin: 8px 0;
    width: 100%;
}

input:focus {
  border: 3px solid #6e7dc0 !important;
}

